<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href = "styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Dashboard</title>
  </head>
  <body>
    <div id = "wrapper">
      <div id = "page_top">
        <div id = "logo"><a href = ""><img src = "" alt = "the logo"></a></div>
        <div id = "profile"><img src = "" alt = "profile picture"></div>
        <h4>Hello <%= user %></h4>
        
        <div id = "logout"><a href="/users/logout">Logout</a></div>
      </div>

      <div id = "content">
        <main>
          <h1>Dashboard</h1>
        </main>
        <div id = "forecast">
          <table>
            <thead>
              <tr>
                <!--Loop through to create days-->
                <% for(let i = 0; i < 8; i++){ %>
                  <!--Replace with calendar data-->
                  <th> <% 'Day '+i %> </th>
                  <% } %>
              </tr>
            </thead>


            <tbody>


              <!--Loop through each measurement type to create a row-->
              <% for(let i = 0; i < 15; i++) {%>
                <tr> 


                  <% for(let j = 0; j < 8; j++) {%>
                    <td> 


                      <!--Might need a new div to style correctly--> 
                      <ul>
                        <% for(let k = 0; k < 24; k++) {%>
                          <!--This line gets each hour's data for the measurement that the i loop is on-->
                          <li> <% 'Hour' + k %> </li>
                        <% }%>
                      </ul>  


                    </td>
                  <% }%>


                </tr>
              <% }%>


            </tbody>
          </table>
        </div>
        
      </div>
      

      
      <div id = "page_bottom"> 
        <nav id = "map"><a href = "">Add location</a></nav>
        <nav id = "parameters"><a href = "">Adjust Parameters</a></nav>
      </div>
    </div>
  </body>
</html>
