<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Dashboard</title>
  </head>
  <body>
    <h1>Dashboard</h1>

    <form action="/users/apiCall" method="POST">

      <div>
        <input type="submit" value="Get GPS Coords" />
      </div>

    </form>

    <a href="/users/logout">Logout</a>

  </body>
</html>